.image {
    width: 150px;
    height: 350px;
}

.image2 {
    width: 150px;
    height: 350px;
}

.image3 {
    width: 150px;
    height: 350px;
}

.image4 {
    width: 150px;
    height: 350px;
}

.image5 {
    width: 150px;
    height: 350px;
}

.image6 {
    width: 150px;
    height: 350px;
}